* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}
.v56_0 {
  width: 100%;
  height: 4210px;
  background: linear-gradient(rgba(210,227,247,0), rgba(217,212,247,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v56_28 {
  width: 100%;
  height: 609px;
  background: url("../images/v56_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 119px;
  left: 0px;
  overflow: hidden;
}
.v56_25 {
  width: 100%;
  height: 609px;
  background: url("../images/v56_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v56_32 {
  width: 442px;
  height: 106px;
  background: url("../images/v56_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 437px;
  left: 499px;
  overflow: hidden;
}
.v56_33 {
  width: 442px;
  height: 106px;
  background: rgba(91,81,81,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v56_34 {
  width: 441px;
  color: rgba(255,253,253,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v57_2 {
  width: 100%;
  height: 636px;
  background: url("../images/v57_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 783px;
  left: 82px;
  overflow: hidden;
}
.v57_3 {
  width: 100%;
  height: 93px;
  background: url("../images/v57_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 5px;
  overflow: hidden;
}
.v57_4 {
  width: 100%;
  height: 93px;
  background: rgba(240,210,107,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v57_5 {
  width: 100%;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v57_6 {
  width: 100%;
  height: 424px;
  background: url("../images/v57_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 0px;
  overflow: hidden;
}
.v57_8 {
  width: 297px;
  height: 424px;
  background: url("../images/v57_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 327px;
  overflow: hidden;
}
.v61_90 {
  width: 296px;
  height: 422px;
  background: url("../images/v61_90.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v57_9 {
  width: 296px;
  height: 422px;
  background: url("../images/v57_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 655px;
  overflow: hidden;
}
.v57_10 {
  width: 297px;
  height: 422px;
  background: url("../images/v57_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 983px;
  overflow: hidden;
}
.v57_11 {
  width: 100%;
  height: 61px;
  background: url("../images/v57_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 574px;
  left: 5px;
  overflow: hidden;
}
.v57_12 {
  width: 297px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium Italic;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v57_13 {
  width: 296px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 2px;
  left: 319px;
  font-family: Poppins;
  font-weight: Medium Italic;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v57_14 {
  width: 296px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 2px;
  left: 692px;
  font-family: Poppins;
  font-weight: Medium Italic;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v57_15 {
  width: 296px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 2px;
  left: 979px;
  font-family: Poppins;
  font-weight: Medium Italic;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v57_16 {
  width: 100%;
  height: 1050px;
  background: url("../images/v57_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1460px;
  left: 87px;
  overflow: hidden;
}
.v57_17 {
  width: 100%;
  height: 93px;
  background: url("../images/v57_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v57_18 {
  width: 100%;
  height: 93px;
  background: rgba(240,210,107,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v57_19 {
  width: 100%;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v57_20 {
  width: 399px;
  height: 384px;
  background: url("../images/v57_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 151px;
  left: 877px;
  overflow: hidden;
}
.v57_21 {
  width: 399px;
  height: 392px;
  background: url("../images/v57_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 597px;
  left: 877px;
  overflow: hidden;
}
.v57_22 {
  width: 398px;
  height: 384px;
  background: url("../images/v57_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 151px;
  left: 439px;
  overflow: hidden;
}
.v57_23 {
  width: 398px;
  height: 392px;
  background: url("../images/v57_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 597px;
  left: 439px;
  overflow: hidden;
}
.v57_24 {
  width: 400px;
  height: 384px;
  background: url("../images/v57_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 151px;
  left: 0px;
  overflow: hidden;
}
.v57_25 {
  width: 400px;
  height: 392px;
  background: url("../images/v57_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 597px;
  left: 0px;
  overflow: hidden;
}
.v57_26 {
  width: 100%;
  height: 60px;
  background: url("../images/v57_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 536px;
  left: 0px;
  overflow: hidden;
}
.v57_27 {
  width: 400px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium Italic;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v57_28 {
  width: 398px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 0px;
  left: 439px;
  font-family: Poppins;
  font-weight: Medium Italic;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v57_29 {
  width: 399px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 2px;
  left: 877px;
  font-family: Poppins;
  font-weight: Medium Italic;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v57_30 {
  width: 100%;
  height: 60px;
  background: url("../images/v57_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 989px;
  left: 0px;
  overflow: hidden;
}
.v57_31 {
  width: 400px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium Italic;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v57_32 {
  width: 398px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 0px;
  left: 439px;
  font-family: Poppins;
  font-weight: Medium Italic;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v57_33 {
  width: 399px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 2px;
  left: 877px;
  font-family: Poppins;
  font-weight: Medium Italic;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v57_34 {
  width: 100%;
  height: 631px;
  background: url("../images/v57_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2552px;
  left: 78px;
  overflow: hidden;
}
.v57_35 {
  width: 100%;
  height: 93px;
  background: url("../images/v57_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v57_36 {
  width: 100%;
  height: 93px;
  background: rgba(240,210,107,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v57_37 {
  width: 100%;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v57_38 {
  width: 100%;
  height: 419px;
  background: url("../images/v57_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 151px;
  left: 13px;
  overflow: hidden;
}
.v57_40 {
  width: 393px;
  height: 419px;
  background: url("../images/v57_40.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v57_41 {
  width: 393px;
  height: 419px;
  background: url("../images/v57_41.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 436px;
  overflow: hidden;
}
.v57_42 {
  width: 394px;
  height: 419px;
  background: url("../images/v57_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 873px;
  overflow: hidden;
}
.v57_43 {
  width: 100%;
  height: 58px;
  background: url("../images/v57_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 572px;
  left: 13px;
  overflow: hidden;
}
.v57_45 {
  width: 393px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium Italic;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v57_46 {
  width: 393px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 0px;
  left: 436px;
  font-family: Poppins;
  font-weight: Medium Italic;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v57_47 {
  width: 393px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 0px;
  left: 873px;
  font-family: Poppins;
  font-weight: Medium Italic;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v57_48 {
  width: 100%;
  height: 631px;
  background: url("../images/v57_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3221px;
  left: 78px;
  overflow: hidden;
}
.v57_49 {
  width: 100%;
  height: 93px;
  background: url("../images/v57_49.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v57_50 {
  width: 100%;
  height: 93px;
  background: rgba(240,210,107,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v57_51 {
  width: 100%;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v57_52 {
  width: 100%;
  height: 419px;
  background: url("../images/v57_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 151px;
  left: 0px;
  overflow: hidden;
}
.v57_53 {
  width: 296px;
  height: 419px;
  background: url("../images/v57_53.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v57_54 {
  width: 295px;
  height: 419px;
  background: url("../images/v57_54.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 328px;
  overflow: hidden;
}
.v57_55 {
  width: 295px;
  height: 419px;
  background: url("../images/v57_55.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 656px;
  overflow: hidden;
}
.v57_56 {
  width: 296px;
  height: 419px;
  background: url("../images/v57_56.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 984px;
  overflow: hidden;
}
.v57_57 {
  width: 100%;
  height: 60px;
  background: url("../images/v57_57.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 570px;
  left: 0px;
  overflow: hidden;
}
.v57_58 {
  width: 296px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Medium Italic;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v57_59 {
  width: 295px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 2px;
  left: 328px;
  font-family: Poppins;
  font-weight: Medium Italic;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v57_60 {
  width: 295px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 2px;
  left: 656px;
  font-family: Poppins;
  font-weight: Medium Italic;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v57_61 {
  width: 295px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 2px;
  left: 984px;
  font-family: Poppins;
  font-weight: Medium Italic;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v107_6 {
  width: 100%;
  height: 259px;
  background: url("../images/v107_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3951px;
  left: 0px;
  overflow: hidden;
}
.v107_5 {
  width: 100%;
  height: 259px;
  background: url("../images/v107_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v101_1 {
  width: 100%;
  height: 259px;
  background: rgba(212,212,212,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v101_2 {
  width: 181px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 78px;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v101_4 {
  width: 133px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 570px;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v101_3 {
  width: 220px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 35px;
  left: 297px;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v107_4 {
  width: 643px;
  height: 206px;
  background: url("../images/v107_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 768px;
  overflow: hidden;
}
.v107_3 {
  width: 187px;
  height: 57px;
  background: url("../images/v107_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 12px;
  overflow: hidden;
}
.v101_10 {
  width: 187px;
  height: 57px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v101_11 {
  width: 104px;
  color: rgba(250,248,248,1);
  position: absolute;
  top: 5px;
  left: 82px;
  font-family: Poppins;
  font-weight: Regular;
  opacity: 1;
  text-align: center;
}
.v168_110 {
  width: 24px;
  height: 20px;
  background: url("../images/v168_110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 38px;
  overflow: hidden;
}
.v101_5 {
  width: 244px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 399px;
  font-family: Pompiere;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v107_2 {
  width: 187px;
  height: 54px;
  background: url("../images/v107_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 12px;
  overflow: hidden;
}
.v101_13 {
  width: 187px;
  height: 54px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v101_14 {
  width: 102px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 83px;
  font-family: Poppins;
  font-weight: Regular;
  opacity: 1;
  text-align: center;
}
.v168_111 {
  width: 24px;
  height: 20px;
  background: url("../images/v168_111.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 38px;
  overflow: hidden;
}
.v114_2 {
  width: 244px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Pompiere;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v168_109 {
  width: 210px;
  height: 31px;
  background: url("../images/v168_109.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 108px;
  left: 412px;
  overflow: hidden;
}
.v168_105 {
  width: 33px;
  height: 31px;
  background: url("../images/v168_105.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v168_106 {
  width: 33px;
  height: 31px;
  background: url("../images/v168_106.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 59px;
  overflow: hidden;
}
.v168_107 {
  width: 33px;
  height: 31px;
  background: url("../images/v168_107.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 118px;
  overflow: hidden;
}
.v168_108 {
  width: 33px;
  height: 31px;
  background: url("../images/v168_108.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 177px;
  overflow: hidden;
}
.v168_51 {
  width: 100%;
  height: 118px;
  background: url("../images/v168_51.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v168_52 {
  width: 100%;
  height: 118px;
  background: rgba(242,233,228,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v168_53 {
  width: 347px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 27px;
  left: 514px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v168_54 {
  width: 131px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 35px;
  left: 163px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v168_55 {
  width: 193px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 35px;
  left: 307px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v168_56 {
  width: 194px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 35px;
  left: 874px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v168_57 {
  width: 215px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 35px;
  left: 1081px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v168_58 {
  width: 130px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 34px;
  left: 1310px;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v168_59 {
  width: 150px;
  height: 21px;
  background: url("../images/v168_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 10px;
  overflow: hidden;
}
.v168_72 {
  width: 19px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 130px;
  overflow: hidden;
}
.v168_73 {
  width: 14px;
  height: 15px;
  background: url("../images/v168_73.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  overflow: hidden;
}
.v168_74 {
  width: 14px;
  height: 10px;
  background: url("../images/v168_74.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border: 2px solid rgba(0,0,0,1);
}
.v168_75 {
  width: 6px;
  height: 6px;
  background: url("../images/v168_75.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  border: 2px solid rgba(0,0,0,1);
}
.v168_101 {
  width: 20px;
  height: 21px;
  background: url("../images/v168_101.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v168_103 {
  width: 20px;
  height: 21px;
  background: url("../images/v168_103.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 65px;
  overflow: hidden;
}
.v168_102 {
  width: 20px;
  height: 21px;
  background: url("../images/v168_102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 33px;
  overflow: hidden;
}
.v168_104 {
  width: 20px;
  height: 21px;
  background: url("../images/v168_104.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 98px;
  overflow: hidden;
}
