* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v72_761 {
  width: 100%;
  height: 3220px;
  background: rgba(242,204,204,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v72_788 {
  width: 100%;
  height: 422px;
  background: url("../images/v72_788.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 123px;
  left: 0px;
  overflow: hidden;
}
.v72_789 {
  width: 442px;
  height: 155px;
  background: url("../images/v72_789.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 256px;
  left: 454px;
  overflow: hidden;
}
.v72_790 {
  width: 442px;
  height: 154px;
  background: rgba(175,122,122,1);
  opacity: 60%;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
  border-radius: 8px;
}
.v72_791 {
  width: 441px;
  color: rgba(40,39,105,1);
  position: absolute;
  top: 45px;
  left: 2px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v72_792 {
  width: 312px;
  height: 113px;
  background: url("../images/v72_792.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 548px;
  left: 77px;
  overflow: hidden;
}
.v72_793 {
  width: 312px;
  height: 113px;
  background: rgba(161,164,242,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v72_794 {
  width: 312px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Podkova;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v72_795 {
  width: 100%;
  height: 483px;
  background: url("../images/v72_795.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 730px;
  left: 0px;
  overflow: hidden;
}
.v72_796 {
  width: 487px;
  height: 479px;
  background: url("../images/v72_796.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 48px;
}
.v72_797 {
  width: 702px;
  height: 483px;
  background: rgba(247,255,199,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 605px;
  overflow: hidden;
}
.v72_798 {
  width: 453px;
  color: rgba(66,80,54,1);
  position: absolute;
  top: 4px;
  left: 584px;
  font-family: Podkova;
  font-weight: ExtraBold;
  font-size: 42px;
  opacity: 1;
  text-align: center;
}
.v72_799 {
  width: 453px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 134px;
  left: 584px;
  font-family: Podkova;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v72_800 {
  width: 443px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 302px;
  left: 594px;
  opacity: 1;
  text-align: center;
}
.v72_801 {
  width: 167px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 302px;
  left: 1058px;
  font-family: Podkova;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v72_802 {
  width: 100%;
  height: 483px;
  background: url("../images/v72_802.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1282px;
  left: 0px;
  overflow: hidden;
}
.v72_803 {
  width: 487px;
  height: 479px;
  background: url("../images/v72_803.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 48px;
}
.v72_804 {
  width: 702px;
  height: 483px;
  background: rgba(247,255,199,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 605px;
  overflow: hidden;
}
.v72_805 {
  width: 453px;
  color: rgba(66,80,54,1);
  position: absolute;
  top: 4px;
  left: 584px;
  font-family: Podkova;
  font-weight: ExtraBold;
  font-size: 42px;
  opacity: 1;
  text-align: center;
}
.v72_806 {
  width: 453px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 134px;
  left: 584px;
  font-family: Podkova;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v72_807 {
  width: 443px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 302px;
  left: 594px;
  opacity: 1;
  text-align: center;
}
.v72_808 {
  width: 167px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 302px;
  left: 1058px;
  font-family: Podkova;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v72_809 {
  width: 100%;
  height: 483px;
  background: url("../images/v72_809.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1834px;
  left: 0px;
  overflow: hidden;
}
.v72_810 {
  width: 487px;
  height: 479px;
  background: url("../images/v72_810.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 48px;
}
.v72_811 {
  width: 702px;
  height: 483px;
  background: rgba(247,255,199,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 605px;
  overflow: hidden;
}
.v72_812 {
  width: 453px;
  color: rgba(66,80,54,1);
  position: absolute;
  top: 4px;
  left: 584px;
  font-family: Podkova;
  font-weight: ExtraBold;
  font-size: 42px;
  opacity: 1;
  text-align: center;
}
.v72_813 {
  width: 453px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 134px;
  left: 584px;
  font-family: Podkova;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v72_814 {
  width: 443px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 302px;
  left: 594px;
  opacity: 1;
  text-align: center;
}
.v72_815 {
  width: 167px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 302px;
  left: 1058px;
  font-family: Podkova;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v72_816 {
  width: 100%;
  height: 483px;
  background: url("../images/v72_816.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2386px;
  left: 0px;
  overflow: hidden;
}
.v72_817 {
  width: 487px;
  height: 479px;
  background: url("../images/v72_817.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 48px;
}
.v72_818 {
  width: 702px;
  height: 483px;
  background: rgba(247,255,199,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 605px;
  overflow: hidden;
}
.v72_819 {
  width: 453px;
  color: rgba(66,80,54,1);
  position: absolute;
  top: 4px;
  left: 584px;
  font-family: Podkova;
  font-weight: ExtraBold;
  font-size: 42px;
  opacity: 1;
  text-align: center;
}
.v72_820 {
  width: 453px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 134px;
  left: 584px;
  font-family: Podkova;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v72_821 {
  width: 443px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 302px;
  left: 594px;
  opacity: 1;
  text-align: center;
}
.v72_822 {
  width: 167px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 302px;
  left: 1058px;
  font-family: Podkova;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v168_409 {
  width: 100%;
  height: 118px;
  background: url("../images/v168_409.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v168_410 {
  width: 100%;
  height: 118px;
  background: rgba(242,233,228,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v168_411 {
  width: 347px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 22px;
  left: 484px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v168_412 {
  width: 131px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 35px;
  left: 203px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v168_413 {
  width: 193px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 35px;
  left: 337px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v168_414 {
  width: 194px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 35px;
  left: 784px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v168_415 {
  width: 215px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 35px;
  left: 961px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v168_416 {
  width: 130px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 34px;
  left: 1190px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v168_417 {
  width: 150px;
  height: 21px;
  background: url("../images/v168_417.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 10px;
  overflow: hidden;
}
.v168_418 {
  width: 19px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 130px;
  overflow: hidden;
}
.v168_419 {
  width: 14px;
  height: 15px;
  background: url("../images/v168_419.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  overflow: hidden;
}
.v168_420 {
  width: 14px;
  height: 10px;
  background: url("../images/v168_420.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border: 2px solid rgba(0,0,0,1);
}
.v168_421 {
  width: 6px;
  height: 6px;
  background: url("../images/v168_421.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  border: 2px solid rgba(0,0,0,1);
}
.v168_422 {
  width: 20px;
  height: 21px;
  background: url("../images/v168_422.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v168_423 {
  width: 20px;
  height: 21px;
  background: url("../images/v168_423.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 65px;
  overflow: hidden;
}
.v168_424 {
  width: 20px;
  height: 21px;
  background: url("../images/v168_424.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 33px;
  overflow: hidden;
}
.v168_425 {
  width: 20px;
  height: 21px;
  background: url("../images/v168_425.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 98px;
  overflow: hidden;
}
.v168_850 {
  width: 100%;
  height: 259px;
  background: url("../images/v168_850.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2961px;
  left: 0px;
  overflow: hidden;
}
.v168_851 {
  width: 100%;
  height: 259px;
  background: url("../images/v168_851.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v168_852 {
  width: 100%;
  height: 259px;
  background: rgba(212,212,212,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v168_853 {
  width: 181px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 78px;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v168_854 {
  width: 133px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 545px;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v168_855 {
  width: 220px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 35px;
  left: 325px;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v168_856 {
  width: 643px;
  height: 206px;
  background: url("../images/v168_856.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 760px;
  overflow: hidden;
}
.v168_857 {
  width: 187px;
  height: 57px;
  background: url("../images/v168_857.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 24px;
  overflow: hidden;
}
.v168_858 {
  width: 187px;
  height: 57px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v168_859 {
  width: 104px;
  color: rgba(250,248,248,1);
  position: absolute;
  top: 5px;
  left: 82px;
  font-family: Poppins;
  font-weight: Regular;
  opacity: 1;
  text-align: center;
}
.v168_860 {
  width: 24px;
  height: 20px;
  background: url("../images/v168_860.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 38px;
  overflow: hidden;
}
.v168_861 {
  width: 244px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 325px;
  font-family: Pompiere;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v168_862 {
  width: 187px;
  height: 54px;
  background: url("../images/v168_862.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 24px;
  overflow: hidden;
}
.v168_863 {
  width: 187px;
  height: 54px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v168_864 {
  width: 102px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 83px;
  font-family: Poppins;
  font-weight: Regular;
  opacity: 1;
  text-align: center;
}
.v168_865 {
  width: 24px;
  height: 20px;
  background: url("../images/v168_865.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 38px;
  overflow: hidden;
}
.v168_866 {
  width: 244px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Pompiere;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v168_867 {
  width: 210px;
  height: 31px;
  background: url("../images/v168_867.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 108px;
  left: 330px;
  overflow: hidden;
}
.v168_868 {
  width: 33px;
  height: 31px;
  background: url("../images/v168_868.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v168_869 {
  width: 33px;
  height: 31px;
  background: url("../images/v168_869.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 59px;
  overflow: hidden;
}
.v168_870 {
  width: 33px;
  height: 31px;
  background: url("../images/v168_870.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 118px;
  overflow: hidden;
}
.v168_871 {
  width: 33px;
  height: 31px;
  background: url("../images/v168_871.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 177px;
  overflow: hidden;
}
