* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v72_947 {
  width: 100%;
  height: 3683px;
  background: rgba(242,204,204,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v72_974 {
  width: 100%;
  height: 422px;
  background: url("../images/v72_974.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 123px;
  left: 0px;
  overflow: hidden;
}
.v77_3 {
  width: 442px;
  height: 155px;
  background: url("../images/v77_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 271px;
  left: 506px;
  overflow: hidden;
}
.v77_4 {
  width: 442px;
  height: 154px;
  background: rgba(175,122,122,1);
  opacity: 60%;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
  border-radius: 8px;
}
.v77_5 {
  width: 441px;
  color: rgba(40,39,105,1);
  position: absolute;
  top: 45px;
  left: 2px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v72_978 {
  width: 312px;
  height: 113px;
  background: url("../images/v72_978.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 548px;
  left: 77px;
  overflow: hidden;
}
.v72_979 {
  width: 312px;
  height: 113px;
  background: rgba(161,164,242,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v72_980 {
  width: 312px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Podkova;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v72_981 {
  width: 100%;
  height: 483px;
  background: url("../images/v72_981.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1270px;
  left: 0px;
  overflow: hidden;
}
.v72_982 {
  width: 487px;
  height: 479px;
  background: url("../images/v72_982.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 48px;
}
.v72_983 {
  width: 702px;
  height: 483px;
  background: rgba(247,255,199,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 605px;
  overflow: hidden;
}
.v72_984 {
  width: 453px;
  color: rgba(66,80,54,1);
  position: absolute;
  top: 4px;
  left: 584px;
  font-family: Podkova;
  font-weight: ExtraBold;
  font-size: 42px;
  opacity: 1;
  text-align: center;
}
.v72_985 {
  width: 453px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 134px;
  left: 584px;
  font-family: Podkova;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v72_986 {
  width: 443px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 302px;
  left: 594px;
  opacity: 1;
  text-align: center;
}
.v72_987 {
  width: 167px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 302px;
  left: 1058px;
  font-family: Podkova;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v72_988 {
  width: 100%;
  height: 483px;
  background: url("../images/v72_988.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1822px;
  left: 0px;
  overflow: hidden;
}
.v72_989 {
  width: 487px;
  height: 479px;
  background: url("../images/v72_989.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 48px;
}
.v72_990 {
  width: 702px;
  height: 483px;
  background: rgba(247,255,199,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 605px;
  overflow: hidden;
}
.v72_991 {
  width: 453px;
  color: rgba(66,80,54,1);
  position: absolute;
  top: 4px;
  left: 584px;
  font-family: Podkova;
  font-weight: ExtraBold;
  font-size: 42px;
  opacity: 1;
  text-align: center;
}
.v72_992 {
  width: 453px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 134px;
  left: 584px;
  font-family: Podkova;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v72_993 {
  width: 443px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 302px;
  left: 594px;
  opacity: 1;
  text-align: center;
}
.v72_994 {
  width: 167px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 302px;
  left: 1058px;
  font-family: Podkova;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v72_995 {
  width: 100%;
  height: 483px;
  background: url("../images/v72_995.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2374px;
  left: 0px;
  overflow: hidden;
}
.v72_996 {
  width: 487px;
  height: 479px;
  background: url("../images/v72_996.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 48px;
}
.v72_997 {
  width: 702px;
  height: 483px;
  background: rgba(247,255,199,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 605px;
  overflow: hidden;
}
.v72_998 {
  width: 453px;
  color: rgba(66,80,54,1);
  position: absolute;
  top: 4px;
  left: 584px;
  font-family: Podkova;
  font-weight: ExtraBold;
  font-size: 42px;
  opacity: 1;
  text-align: center;
}
.v72_999 {
  width: 453px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 134px;
  left: 584px;
  font-family: Podkova;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v72_1000 {
  width: 443px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 302px;
  left: 594px;
  opacity: 1;
  text-align: center;
}
.v72_1001 {
  width: 167px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 302px;
  left: 1058px;
  font-family: Podkova;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v72_1002 {
  width: 100%;
  height: 483px;
  background: url("../images/v72_1002.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2926px;
  left: 0px;
  overflow: hidden;
}
.v72_1003 {
  width: 487px;
  height: 479px;
  background: url("../images/v72_1003.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 48px;
}
.v72_1004 {
  width: 702px;
  height: 483px;
  background: rgba(247,255,199,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 605px;
  overflow: hidden;
}
.v72_1005 {
  width: 453px;
  color: rgba(66,80,54,1);
  position: absolute;
  top: 4px;
  left: 584px;
  font-family: Podkova;
  font-weight: ExtraBold;
  font-size: 42px;
  opacity: 1;
  text-align: center;
}
.v72_1006 {
  width: 453px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 134px;
  left: 584px;
  font-family: Podkova;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v72_1007 {
  width: 443px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 302px;
  left: 594px;
  opacity: 1;
  text-align: center;
}
.v72_1008 {
  width: 167px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 302px;
  left: 1058px;
  font-family: Podkova;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v97_8 {
  width: 100%;
  height: 429px;
  background: url("../images/v97_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 699px;
  left: 0px;
  overflow: hidden;
}
.v168_461 {
  width: 100%;
  height: 118px;
  background: url("../images/v168_461.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v168_462 {
  width: 100%;
  height: 118px;
  background: rgba(242,233,228,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v168_463 {
  width: 347px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 22px;
  left: 484px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v168_464 {
  width: 131px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 35px;
  left: 203px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v168_465 {
  width: 193px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 35px;
  left: 337px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v168_466 {
  width: 194px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 35px;
  left: 784px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v168_467 {
  width: 215px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 35px;
  left: 961px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v168_468 {
  width: 130px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 34px;
  left: 1190px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v168_469 {
  width: 150px;
  height: 21px;
  background: url("../images/v168_469.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 10px;
  overflow: hidden;
}
.v168_470 {
  width: 19px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 130px;
  overflow: hidden;
}
.v168_471 {
  width: 14px;
  height: 15px;
  background: url("../images/v168_471.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  overflow: hidden;
}
.v168_472 {
  width: 14px;
  height: 10px;
  background: url("../images/v168_472.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border: 2px solid rgba(0,0,0,1);
}
.v168_473 {
  width: 6px;
  height: 6px;
  background: url("../images/v168_473.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  border: 2px solid rgba(0,0,0,1);
}
.v168_474 {
  width: 20px;
  height: 21px;
  background: url("../images/v168_474.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v168_475 {
  width: 20px;
  height: 21px;
  background: url("../images/v168_475.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 65px;
  overflow: hidden;
}
.v168_476 {
  width: 20px;
  height: 21px;
  background: url("../images/v168_476.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 33px;
  overflow: hidden;
}
.v168_477 {
  width: 20px;
  height: 21px;
  background: url("../images/v168_477.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 98px;
  overflow: hidden;
}
.v168_916 {
  width: 100%;
  height: 259px;
  background: url("../images/v168_916.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3424px;
  left: 0px;
  overflow: hidden;
}
.v168_917 {
  width: 100%;
  height: 259px;
  background: url("../images/v168_917.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v168_918 {
  width: 100%;
  height: 259px;
  background: rgba(212,212,212,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v168_919 {
  width: 181px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 78px;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v168_920 {
  width: 133px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 545px;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v168_921 {
  width:180px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 325px;
  left: 1px;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v168_922 {
  width: 643px;
  height: 206px;
  background: url("../images/v168_922.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 760px;
  overflow: hidden;
}
.v168_923 {
  width: 187px;
  height: 57px;
  background: url("../images/v168_923.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 24px;
  overflow: hidden;
}
.v168_924 {
  width: 187px;
  height: 57px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v168_925 {
  width: 104px;
  color: rgba(250,248,248,1);
  position: absolute;
  top: 5px;
  left: 82px;
  font-family: Poppins;
  font-weight: Regular;
  opacity: 1;
  text-align: center;
}
.v168_926 {
  width: 24px;
  height: 20px;
  background: url("../images/v168_926.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 38px;
  overflow: hidden;
}
.v168_927 {
  width: 244px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 325px;
  font-family: Pompiere;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v168_928 {
  width: 187px;
  height: 54px;
  background: url("../images/v168_928.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 24px;
  overflow: hidden;
}
.v168_929 {
  width: 187px;
  height: 54px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v168_930 {
  width: 102px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 83px;
  font-family: Poppins;
  font-weight: Regular;
  opacity: 1;
  text-align: center;
}
.v168_931 {
  width: 24px;
  height: 20px;
  background: url("../images/v168_931.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 38px;
  overflow: hidden;
}
.v168_932 {
  width: 244px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Pompiere;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v168_933 {
  width: 210px;
  height: 31px;
  background: url("../images/v168_933.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 108px;
  left: 330px;
  overflow: hidden;
}
.v168_934 {
  width: 33px;
  height: 31px;
  background: url("../images/v168_934.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v168_935 {
  width: 33px;
  height: 31px;
  background: url("../images/v168_935.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 59px;
  overflow: hidden;
}
.v168_936 {
  width: 33px;
  height: 31px;
  background: url("../images/v168_936.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 118px;
  overflow: hidden;
}
.v168_937 {
  width: 33px;
  height: 31px;
  background: url("../images/v168_937.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 177px;
  overflow: hidden;
}
