* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v72_79 {
  width: 100%;
  height: 3220px;
  background: rgba(242,204,204,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v72_106 {
  width: 100%;
  height: 422px;
  background: url("../images/v72_106.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 123px;
  left: 0px;
  overflow: hidden;
}
.v72_107 {
  width: 442px;
  height: 155px;
  background: url("../images/v72_107.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 10;
  position: absolute;
  top: 256px;
  left: 454px;
  overflow: hidden;
}
.v72_108 {
  width: 442px;
  height: 154px;
  background: rgba(175,122,122,1);
  opacity: 60%;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
  border-radius: 8px;
}
.v72_109 {
  width: 441px;
  color: rgba(40,39,105,1);
  position: absolute;
  top: 45px;
  left: 2px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v72_110 {
  width: 312px;
  height: 113px;
  background: url("../images/v72_110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 548px;
  left: 87px;
  overflow: hidden;
}
.v72_111 {
  width: 312px;
  height: 113px;
  background: rgba(161,164,242,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v72_112 {
  width: 312px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Podkova;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v72_113 {
  width: 100%;
  height: 483px;
  background: url("../images/v72_113.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 730px;
  left: 0px;
  overflow: hidden;
}
.v72_114 {
  width: 487px;
  height: 479px;
  background: url("../images/v72_114.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 48px;
}
.v72_115 {
  width: 702px;
  height: 483px;
  background: rgba(247,255,199,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 605px;
  overflow: hidden;
}
.v72_116 {
  width: 453px;
  color: rgba(66,80,54,1);
  position: absolute;
  top: 4px;
  left: 584px;
  font-family: Podkova;
  font-weight: ExtraBold;
  font-size: 42px;
  opacity: 1;
  text-align: center;
}
.v72_117 {
  width: 453px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 134px;
  left: 584px;
  font-family: Podkova;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v72_118 {
  width: 443px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 302px;
  left: 594px;
  opacity: 1;
  text-align: center;
}
.v72_119 {
  width: 167px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 302px;
  left: 1058px;
  font-family: Podkova;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v72_120 {
  width: 100%;
  height: 483px;
  background: url("../images/v72_120.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1282px;
  left: 0px;
  overflow: hidden;
}
.v72_121 {
  width: 487px;
  height: 479px;
  background: url("../images/v72_121.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 48px;
}
.v72_122 {
  width: 702px;
  height: 483px;
  background: rgba(247,255,199,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 605px;
  overflow: hidden;
}
.v72_123 {
  width: 453px;
  color: rgba(66,80,54,1);
  position: absolute;
  top: 4px;
  left: 584px;
  font-family: Podkova;
  font-weight: ExtraBold;
  font-size: 42px;
  opacity: 1;
  text-align: center;
}
.v72_124 {
  width: 453px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 134px;
  left: 584px;
  font-family: Podkova;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v72_125 {
  width: 443px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 302px;
  left: 594px;
  opacity: 1;
  text-align: center;
}
.v72_126 {
  width: 167px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 302px;
  left: 1058px;
  font-family: Podkova;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v72_127 {
  width: 100%;
  height: 483px;
  background: url("../images/v72_127.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1834px;
  left: 0px;
  overflow: hidden;
}
.v72_128 {
  width: 487px;
  height: 479px;
  background: url("../images/v72_128.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 48px;
}
.v72_129 {
  width: 702px;
  height: 483px;
  background: rgba(247,255,199,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 605px;
  overflow: hidden;
}
.v72_130 {
  width: 453px;
  color: rgba(66,80,54,1);
  position: absolute;
  top: 4px;
  left: 584px;
  font-family: Podkova;
  font-weight: ExtraBold;
  font-size: 42px;
  opacity: 1;
  text-align: center;
}
.v72_131 {
  width: 453px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 134px;
  left: 584px;
  font-family: Podkova;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v72_132 {
  width: 443px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 302px;
  left: 594px;
  opacity: 1;
  text-align: center;
}
.v72_133 {
  width: 167px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 302px;
  left: 1058px;
  font-family: Podkova;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v72_134 {
  width: 100%;
  height: 483px;
  background: url("../images/v72_134.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2386px;
  left: 0px;
  overflow: hidden;
}
.v72_135 {
  width: 487px;
  height: 479px;
  background: url("../images/v72_135.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 48px;
}
.v72_136 {
  width: 702px;
  height: 483px;
  background: rgba(247,255,199,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 605px;
  overflow: hidden;
}
.v72_137 {
  width: 453px;
  color: rgba(66,80,54,1);
  position: absolute;
  top: 4px;
  left: 584px;
  font-family: Podkova;
  font-weight: ExtraBold;
  font-size: 42px;
  opacity: 1;
  text-align: center;
}
.v72_138 {
  width: 453px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 134px;
  left: 584px;
  font-family: Podkova;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v72_139 {
  width: 443px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 302px;
  left: 594px;
  opacity: 1;
  text-align: center;
}
.v72_140 {
  width: 167px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 302px;
  left: 1058px;
  font-family: Podkova;
  font-weight: SemiBold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v168_163 {
  width: 100%;
  height: 118px;
  background: url("../images/v168_163.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v168_164 {
  width: 100%;
  height: 118px;
  background: rgba(242,233,228,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v168_165 {
  width: 347px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 27px;
  left: 484px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v168_166 {
  width: 131px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 35px;
  left: 203px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v168_167 {
  width: 193px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 35px;
  left: 337px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v168_168 {
  width: 194px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 35px;
  left: 784px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v168_169 {
  width: 215px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 35px;
  left: 961px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v168_170 {
  width: 130px;
  color: rgba(91,81,81,1);
  position: absolute;
  top: 34px;
  left: 1190px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: center;
}
.v168_171 {
  width: 150px;
  height: 21px;
  background: url("../images/v168_171.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 10px;
  overflow: hidden;
}
.v168_172 {
  width: 19px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 130px;
  overflow: hidden;
}
.v168_173 {
  width: 14px;
  height: 15px;
  background: url("../images/v168_173.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  overflow: hidden;
}
.v168_174 {
  width: 14px;
  height: 10px;
  background: url("../images/v168_174.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border: 2px solid rgba(0,0,0,1);
}
.v168_175 {
  width: 6px;
  height: 6px;
  background: url("../images/v168_175.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  border: 2px solid rgba(0,0,0,1);
}
.v168_176 {
  width: 20px;
  height: 21px;
  background: url("../images/v168_176.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v168_177 {
  width: 20px;
  height: 21px;
  background: url("../images/v168_177.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 65px;
  overflow: hidden;
}
.v168_178 {
  width: 20px;
  height: 21px;
  background: url("../images/v168_178.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 33px;
  overflow: hidden;
}
.v168_179 {
  width: 20px;
  height: 21px;
  background: url("../images/v168_179.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 98px;
  overflow: hidden;
}
.v168_630 {
  width: 100%;
  height: 259px;
  background: url("../images/v168_630.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2961px;
  left: 1px;
  overflow: hidden;
}
.v168_631 {
  width: 100%;
  height: 259px;
  background: url("../images/v168_631.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v168_632 {
  width: 100%;
  height: 259px;
  background: rgba(212,212,212,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v168_633 {
  width: 181px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 78px;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v168_634 {
  width: 133px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 545px;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v168_635 {
  width: 180px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 35px;
  left: 325px;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v168_636 {
  width: 643px;
  height: 206px;
  background: url("../images/v168_636.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 760px;
  overflow: hidden;
}
.v168_637 {
  width: 187px;
  height: 57px;
  background: url("../images/v168_637.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 24px;
  overflow: hidden;
}
.v168_638 {
  width: 187px;
  height: 57px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v168_639 {
  width: 104px;
  color: rgba(250,248,248,1);
  position: absolute;
  top: 5px;
  left: 82px;
  font-family: Poppins;
  font-weight: Regular;
  opacity: 1;
  text-align: center;
}
.v168_640 {
  width: 24px;
  height: 20px;
  background: url("../images/v168_640.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 38px;
  overflow: hidden;
}
.v168_641 {
  width: 244px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 325px;
  font-family: Pompiere;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v168_642 {
  width: 187px;
  height: 54px;
  background: url("../images/v168_642.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 24px;
  overflow: hidden;
}
.v168_643 {
  width: 187px;
  height: 54px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v168_644 {
  width: 102px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8px;
  left: 83px;
  font-family: Poppins;
  font-weight: Regular;
  opacity: 1;
  text-align: center;
}
.v168_645 {
  width: 24px;
  height: 20px;
  background: url("../images/v168_645.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 38px;
  overflow: hidden;
}
.v168_646 {
  width: 244px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Pompiere;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v168_647 {
  width: 210px;
  height: 31px;
  background: url("../images/v168_647.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 108px;
  left: 330px;
  overflow: hidden;
}
.v168_648 {
  width: 33px;
  height: 31px;
  background: url("../images/v168_648.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v168_649 {
  width: 33px;
  height: 31px;
  background: url("../images/v168_649.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 59px;
  overflow: hidden;
}
.v168_650 {
  width: 33px;
  height: 31px;
  background: url("../images/v168_650.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 118px;
  overflow: hidden;
}
.v168_651 {
  width: 33px;
  height: 31px;
  background: url("../images/v168_651.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 177px;
  overflow: hidden;
}
